body, html {
  height: 100%;
  overflow: hidden;
  font-family: 'Caveat';
  font-size: 24px;
}

.bg {
  /* The image used */
  background-image: url("../pexels-dsd-975416.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

h1 {
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 44px;
}

.info_box {
  padding: 1%;
  background-color: rgba(0, 0, 0, .6);
  min-width: 300px;
  width: 30%;
  color: #ffffff;
  text-align: center;
  border-radius: 5%;
}

.contact_button {
  width: 10%;
  min-width: 50px;
  margin: 10px;
}

.jewellery_image {
  width: 60%
}

br {
  margin-bottom: 5px;
}
